*{
    padding: 0;
    margin: 0;
}

@media (max-width: 1000px) {
    
    .prizing-weight {
        width: 100%;
        
    }
    
    .prizing-weight-2 {
        width: 100%;
        margin-left: 20px;
    }
    .prizing-item-2 img {
        width: 100px;
        position: absolute;
        top: -80px;
        left: 288px;
        display: inline-block;
    }

    .prizing-weight-2 {
        width: 100%;
        margin-top: 43px;
    }
    .form-tag {
        width: 100%;
        display: inline-block;
    }
    .form-tag2 {
        margin-left: 0px;
    }
    .foooom-cnr{
        height: 130px;
        width: 510px;
    }
    .fm-controlll{
        width: 507px;
        margin-bottom: 16px;
    }
}



@media (max-width: 790px) {
    /* Prizing-section */

    .prizing-weight {
        width: 100%;
        
    }
    .prizing-weight-2 {
        width: 100%;
        margin-left: 20px;
    }
    .prizing-item-2 img {
        width: 100px;
        position: absolute;
        top: -80px;
        left: 284px;
        display: inline-block;
    }

    .prizing-weight-2 {
        width: 100%;
        margin-top: 43px;
    }
    .form-tag {
        width: 100%;
        display: inline-block;
    }
    .form-tag2 {
        margin-left: 0px;
    }
    .foooom-cnr{
        height: 130px;
        width: 510px;
    }
    .fm-controlll{
        width: 507px;
        margin-bottom: 16px;
    }
}

@media (max-width: 1000px) {
    .prizing-weight {
        width: 100%;
        
    }
    .prizing-weight-2 {
        width: 100%;
        margin-left: 20px;
    }
    .prizing-item-2 img {
        width: 100px;
        position: absolute;
        top: -80px;
        left: 200px;
        display: inline-block;
    }

}

@media (max-width: 590px) {

    .prizing-weight {
        width: 100%;
        
    }
    .prizing-weight-2 {
        width: 100%;
        margin-left: 20px;
    }
    .prizing-item-2 img {
        width: 100px;
        position: absolute;
        top: -80px;
        left: 179px;
        display: inline-block;
    }
}
@media (max-width: 400px) {
    .prizing-weight {
        width: 100%;
        
    }
    .prizing-weight-2 {
        width: 100%;
        margin-left: 20px;
    }
    .prizing-item-2 img {
        width: 100px;
        position: absolute;
        top: -80px;
        left: 133px;
        display: inline-block;
    }
}

